@font-face {
   font-family: '方正粗黑宋简体';
   font-display: swap;
   src: url('file:///Users/Yufeng1/Desktop/demo/smeleAvon.github.io/fonts/%E6%96%B9%E6%AD%A3%E7%B2%97%E9%BB%91%E5%AE%8B%E7%AE%80%E4%BD%93/font.ttf');
}
