@font-face {
   font-family: '方正启体简体';
   font-display: swap;
   src: url('file:///Users/Yufeng1/Desktop/demo/smeleAvon.github.io/fonts/%E6%96%B9%E6%AD%A3%E5%90%AF%E4%BD%93%E7%AE%80%E4%BD%93/font.ttf');
}
