@font-face {
   font-family: 'FZFengYKSJF_Xi';
   font-display: swap;
   src: url('file:///C:/Users/Beta/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-05_133100/fonts/FZFengYKSJF_Xi/font.TTF');
}
